html, body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #1A181B;
    background-color: #E5D4C0;
    min-width: 480px;
}

#content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition-duration: 1s;
}

#top-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    height: 50px;
    position: relative;
    z-index: 2;
}

#hamburger-icon {
    border-radius: 0 3px 3px 0;
    padding-left: 10px;
}

#hamburger-icon:hover {
    cursor: pointer;
    background-color: #E5D4C0;
    transition-duration: .5s;
}

#hamburger-menu-form {
    /*background-color: #756048;*/
    background-color: #60935D;
    width: 350px;
    position: absolute;
    top: 74.15px;
    border-radius: 0 0 7px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.hamburger-menu {
    left: -100%;
    transition-duration: .7s;
}

.hamburger-active {
    transition-duration: .7s;
    left: 0;
}

.slider-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 5px;
    margin-right: 10px;
}

.slider-container {
    width: 40px;
    height: 20px;
    background-color: #1A181B;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition-duration: .5s;
}

.slider-container-toggle {
    background-color: #555;
}

.slider-square {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    transition-duration: .35s;
}

.slider-move-square {
    transform: translateX(25px);
}

#location-header {
    margin-top: 50px;
}

#temperature-section {
    width: 200px;
}

#current-temp {
    font-size: 5em;
    margin: 0;
}

#current-weather-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-bottom: 50px;
}

#current-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#weather-form {
    display: flex;
    flex-direction: column;
    margin-right: 8px;
    gap: 7px;
    width: 200px;
}

#weather-form > input, select {
    font-size: 1.2em;
    background-color: white;
    border: 2px darkslategray solid;
    border-radius: 4px;
}

#location {
    border: black 1px solid;
    border-radius: 5px;
    background-color: white;
}

#hourly-forecast-section {
    width: 100%;
}

.hourly-weather-image {
    width: 64px;
    height: 64px;
}

#hourly-forecast-list {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    overflow-x: auto;
    gap: 40px; 
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.hourly-forecast-div {
    display: flex;
    flex-direction: column;
    flex-basis: 132px;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
}

.hourly-forecast-time-para {
    font-size: 1.25em;
    font-weight: bold;
    width: 75px;
    text-align: center;
}

.hourly-temp-para {
    margin-bottom: 0;
}

.hourly-precipitation-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hourly-precipitation-div p {
    margin: 0;
}

.hourly-prob-of-prec-image {
    width: 20px;
    height: 20px;
}

.hourly-wind-div {
    display: flex; 
    flex-direction: row;
    align-items: center;
}

.hourly-wind-div p {
    margin: 0;
}

.hourly-wind-deg-image {
    width: 12px;
    height: 12px;
}

#weekly-forecast-section {
    width: 100%;
}

#weekly-forecast-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.daily-forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid #afa292;
}

.daily-forecast p {
    width: 75px;
}

.day-num-para {
    font-size: 1.25em;
    font-weight: bold;
}

.daily-temp-div {
    display: flex; 
    gap: 10px;
    text-align: center;
}

.daily-temp-div p {
    width: 65px;
}

.weekly-forecast-image {
    width: 64px;
    height: 64px;
}

@media only screen and (min-width: 650px) {
    #weekly-forecast-list {
        flex-direction: row;
        justify-content: center;
        /*border-top: 2px solid #afa292;*/
    }
    
    .daily-forecast {
        flex-direction: column;
        border: none;
    }

    .day-num-para {
        text-align: center;
    }

    .daily-temp-div {
        gap: 2px;
    }

    #weekly-forecast-list {
        gap: 40px;
        overflow-x: scroll;
        width: 90%;
        justify-content: start;
    }


     /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } 
}


@media only screen and (min-width: 1500px) {
    #weekly-forecast-list {
        gap: 40px;
        overflow-x: auto;
        width: 90%;
        justify-content: center;
    }

    .daily-forecast {
        height: 180px;
    }
}